.post-paragraph {
    margin: 1rem 0;

    &__pictures {
        display: flex;
        flex-direction: column;

        :not(:first-child) {
            margin-top: 0.5rem;
        }

        &.is--left {
            float: left;
            margin-right: 2rem;
        }

        &.is--right {
            float: right;
            margin-left: 2rem;
        }
    }
}