@import '../mixins';

.posts {
    position: absolute;
    transition-property: transform, opacity;
    @include cubic-transition();

    transform: translateX(-3rem);
    opacity: 0;
    max-width: 96rem;

    &.mounted {
        transform: translateX(0);
        opacity: 1;
    }
    &.unmounted {
        transform: translateX(3rem);
        opacity: 0;
    }
}