@import '../mixins';

.post-link {
    display: inline-block;

    .icon {
        fill: rgba(0, 0, 0, 0.5);
        transition-property: fill;
        @include cubic-transition();

        &:hover {
            fill: black;
        }
    }
}

.dark-theme .post-link {
    .icon {
        fill: rgba(255, 255, 255, 0.5);

        &:hover {
            fill: white;
        }
    }
}