@import './variables';

@mixin cubic-transition {
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

@mixin default-text-shadow {
    text-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
}
