$bg-light-colour: #efefef;
$bg-dark-colour: #121212;
$bg-secondary-color: #f3f3f6;
$colour-primary: #14854F;
$colour-lightGrey: #d2d6dd;
$colour-grey: #747681;
$colour-darkGrey: #3f4144;
$colour-error: #d43939;
$colour-success: #28bd14;
$grid-maxWidth: 96rem;
$grid-gutter: 2rem;
$font-size: 1.6rem;
$font-light-colour: #333435;
$font-dark-colour: #ecedef;
$font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;
$font-family-mono: monaco, "Consolas", "Lucida Console", monospace;